[Desktop Entry]
Exec=su-me /usr/sbin/saveconfig
Name[de]=sidux-Konfiguration speichern
Name[es]=Guardar la configuración de sidux
Name=Save sidux configuration
Icon=saveconfig
Type=Application
