[Desktop Entry]
Exec=su-me /usr/sbin/saveconfig
Name[de]=Sidux-Konfiguration speichern
Name[es]=Guardar la configuración de Sidux
Name=Save Sidux configuration
Icon=saveconfig
Type=Application
