[Desktop Entry]
Exec=kanotix-su /usr/sbin/saveconfig
Name[de]=KANOTIX-Konfiguration speichern
Name[es]=Guardar la configuración de KANOTIX
Name=Save KANOTIX configuration
Icon=saveconfig
Type=Application
