Source: saveconfig
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: saveconfig
Architecture: all
Depends: dialog, bzip2, su-me
Conflicts: saveconfig-kanotix
Suggests: xdialog
Description: generate configuration floppy
 Shell GUI for generation of a sidux configuration floppy.
